body {
  background-color: #202040;
}

#profile {
  margin-top: 10rem;
}

img {
  max-width: 15rem;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: orange;
}

.card-title {
  font-family: "Allura", cursive;
  font-size: 3rem;
}
.orange {
  color: orange;
}

img {
  border-radius: 1rem;
  border: 1px solid;
}
